@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);
/* --------Body------------------------------------------------------------------ */
body {
  height: 100%;
  line-height: 1;
  font-family: "Rubik";
  font-size: rem(12);
  max-width: 1152px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1087px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1057px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* --------Header------------------------------------------------------------------ */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 114px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 421px;
          flex: 0 0 421px;
}

@media (max-width: 1057px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 221px;
            flex: 0 0 221px;
  }
}

.header__button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Raleway";
  font-weight: 800;
}

.header__button {
  padding: 15px 35px;
  border-radius: 5px;
  background-color: #EC5863;
  color: #FCFDFE;
  -webkit-transition: background-color 0.3 ease 0s;
  transition: background-color 0.3 ease 0s;
}

.header__button:hover {
  background-color: #eb7078;
}

.header__button_blue {
  background-color: #4285F4;
  -webkit-transition: background-color 0.4 ease 0s;
  transition: background-color 0.4 ease 0s;
}

.header__button_blue:hover {
  background-color: #5291f5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px 40px;
}

.menu__item {
  font-family: "Raleway";
  color: #000000;
  font-size: 10px;
  font-weight: 800;
}

@media (max-width: 1057px) {
  .menu__list {
    gap: 5px 2px;
  }
  header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 321px;
            flex: 0 0 321px;
  }
}

@media (max-width: 991.98px) {
  .menu__list {
    gap: 5px 20px;
  }
}

/* --------ICON-MENU ------------------------------------------------------------------ */



/* --------MAIN------------------------------------------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/*# sourceMappingURL=style.css.map */